<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache">

    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="TELEGRAM_TOKEN" value="TELEGRAM_TOKEN_HERE" force="true"/>
    </php>

    <source>
        <include>
            <directory>./src</directory>
        </include>
        <exclude>
            <directory>./tests</directory>
            <directory>./src/Facades</directory>
            <directory>./src/Log</directory>
            <file>./src/NutgramServiceProvider.php</file>
            <file>./src/Console/RunCommand.php</file>
            <file>./src/Console/BaseMakeCommand.php</file>
            <file>./src/Mixins/MixinUtils.php</file>
        </exclude>
    </source>
</phpunit>
